html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

* {
    box-sizing: border-box;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: #080F0F;
}

#panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    display: flex;
    justify-content: center;
    background: #2F4550;
    color: #DCE0D9;
    padding: 5px;
    align-items: center;
}

.panel-additional {
    font-size: 20px;
}

#panel div {
    flex: 1;
    text-align: center;
}

#content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 64px;
}

#graph-container {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

#scroll-solver {
    position: absolute;
    overflow-x: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: -17px;
}

#graph {
    position: absolute;
    /* bottom: 32px; */
}

#polygon {
    fill:url(#grad);
}

#polygon-stroke {
    stroke: #EBEBD3;
    stroke-width: 2px;
    stroke-linejoin: round;
    fill: none;
    marker-start: url(#marker-point);
    marker-mid: url(#marker-point);
    marker-end: url(#marker-point);
}

#marker-point {
    fill: #EBEBD3;
}

#coordinates {
    position: absolute;
}

.coordinates {
    stroke: white;
}

#info-panel {
    position: absolute;
    background: rgba(8, 15, 15, 0.6);
    border-radius: 5px;
    border: 1px solid #EFF6E0;
    color: #EFF6E0;
    font-size: 17;
    text-align: center;
    width: auto;
    padding: 3 20px;
    height: auto;
    top: 100px; 
    left: 100px;
    display: none;
    transform: translate(-50%, -100%);
}

#info-panel-variance.success {
    color: #35FF69;
}

#info-panel-variance.fail {
    color: #FF1B1C;
}